.cart {
  &__section {
    &-title {
      font-size: 32px;
      text-align: center;
      padding: 40px 0;
    }
    &--item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      &-image {
        width: 180px;
        height: 120px;
        object-fit: cover;
      }
      &-checkbox {
        width: auto;
      }
      &-total {
        padding: 20px 0;
        text-align: right;
        font-size: 24px;
      }
    }
  }
}
