{
  "extends": ["react-app","prettier" , "scss"],
  "plugins": ["react","prettier" , "@typescript-eslint" , "node-sass"],
  "rules": {
    "prettier": [
      "warn",{
        "arrowParens": "avoid",
        "semi":false,
        "trailingComma": "none",
        "endOfLine": "lf",
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": true,
        "printWidth": 120,
        "jsxSingleQuote": false
      }
    ]
  }
}
